.heroStandard {
 height: 50%;	
}
.contactForm {
  margin-top: 50px;
  margin-bottom: 50px;  
}

.contactForm input {
font-size: 16px; 
font-weight: 300;
width: 297px; 
padding: 7px 12px 6px; 
border: 1px solid rgb(147, 150, 167); 
background: transparent; 
margin-bottom: 16px; 
box-sizing: border-box;
}

.contactForm textarea {
	font-family: Tablet Gothic;
}

.contactForm .row {
 padding: 7px 12px 6px; 
 font-size: 16px; 
 font-weight: 300; 
 width: 100%; 
 margin-bottom: 20px; 
 box-sizing: border-box; 
 resize: none;	
}

.contactForm .halfrow {
 width: 50%;	
}

.contactForm .button {
width: 100%;
}

.heroTextContainer {
 color: white;	
}