@font-face {
  src: url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");
  font-family: 'Open Sans Condensed', sans-serif;
}

body {
	margin: 0;
	font-family: 'Open Sans Condensed', sans-serif;
}

.center {
	margin: 0 auto;
	max-width: 1020px;
}

.root  {
	
}

.navBarOffset {
	height: 208px;
}

.contentContainer {
  padding: 0 0 80px;
  height: 100%;
  position: relative;
  
}

.navContainer{
position: fixed;
z-index: 100;
top: 0;
background-color: white;
border: none;
width: 100%;
}

.logo {
 width: 170px;
float: left; 
}
.navHeaderContainer {
float: right; 
display: flex; 
align-items: center; 
margin-top: 46px;
font-weight: 300	
}

.navHeader {
	color: black;
	text-decoration: none;	
	font-size: 30px;
	margin-right: 60px;
}

.buttonContainer {
	margin-top: 30px;
	margin-bottom: 30px;
   width: 100%;   
   text-align: center;

}
.button {
	font-size: 40px;
	font-family: Tablet Gothic; 
	background-color: black;
	color: white;
	border-radius: 6px;
	width: 150px;
	height: 50px;
}

.learn.button {
  background-color: white;
color: black;  
margin-left: 30px;
width: 300px;
}

.footer {
		position: relative;
		background-color: black;
		height: 100px;
		text-align: center;
		bottom: 0;
		width: 100%;
}

.footerLinkContainer {
  padding-top:40px;	
}

.footerLink {
	color: white;
 margin-right: 30px;	
}

.footerLink, .copyright {
	font-size: 20px;
}

.copyright {
 color: white;	
}


.heroStandard {
	position: relative;
	height: 100%;
	width: 100%;
}

.heroTextContainer {
		text-align: center;
		position: absolute;
		left: 52%;
		transform: translate(-50%, 50%);
}

.heroTextContainer h1 {
  font-size: 50px;
}

.heroTextContainer p {
  font-size: 30px;
}


.backgroundLayer {
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
	background-size: cover;
}



